body {
    background-color: rgb(192, 191, 191);
    margin: 0;
}


/* Navbar Styling */
nav {
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: #dbdbdb;
    padding: 0 40px;
}

nav img {
    margin-right: 50px;
}

.nav-left ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav-left ul li {
    margin-right: 30px;
    font-size: 20px;
}

.nav-left a {
    text-decoration: none;
    color: black;
}

.nav-right a {
    text-decoration: none;
    font-size: 20px;
    background-color: black;
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
}


/* Contact me styling */
form {
    width: 350px;
    margin: 50px auto;
}

form div {
    margin-top: 10px;
}

label {
    font-weight: bold;
    font-size: 20px;
}

.flex-container {
  display: flex;
  background-color: rgb(192, 191, 191);
  margin: 11px 0px 11px 0px;
  border: 0px ; 
  padding: 10px auto; 
  width: 500 px;
  color: #000000;
  justify-content: space-between;
  align-content: stretch;
}

.flex-container > div {  
background-color: rgb(192, 191, 191);
margin:0px;
padding: 3px;
font-size: 30px;
}


.box-container {
  display: flex;
  margin: 15px 9px;
  border : 0px;
  padding: 10px auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  font-size: 4px;
  
}

.box-container > div {
  background-color: rgb(192, 191, 191);
  margin: 0px;
  padding: 3px;
  font-size: 30px;
}


input, 
select, 
textarea {
    width: 100%;
    box-shadow: 2px 4px 8px 1px#636262;
    background-color: #DBE4C6;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    padding: 10px;
    margin-top: 5px;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    width: 100px;
    background-color: black;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 270px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }